header {
display: grid;
grid-template-columns: 1fr 3fr 1fr;
grid-gap: 20px;
justify-items: center;
align-items: center;
}
 
main {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     background-image: url(sne.jpg);
 }

h3 {
  text-align: center;
  font-size: 14;
  grid-gap: 50%;
}

h4 {
  text-align: center;
  font-size: 14;
  grid-gap: 50%; 
  grid-column: span 2; 
}

 .table1 {
    width: 100%; 
    text-align: center;
    font-size: 12px;
    justify-items: right;
    align-items: right;
  } 

  th, td, tr {
    background-color: white;
    color: black;
    padding: 10px 10px 10px 10px;
  }

 .table2 {
    width: 100%; 
    text-align: center;
    font-size: 12px;
    justify-items: center;
    align-items: center;
    grid-column: span 2;
  } 

  h5 {
    grid-column: span 2; 
  }

.submitButton {
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    border: 2px solid red;
    background-color: #ffff;
    text-align: center;
    height: 100%;
    width: 60%;
    min-width: 220px;
    display: block;
  }

.submitButton {
  margin: auto;
  /* align-content: center; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 2%;
}  
}

 img {
   align-items: right;
   justify-items: right;
 }